nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav li:hover{
    background-color: lightgreen;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightpink;
    padding: 0;
}
.dropdown li{
    margin: 0;
}
nav > ul > li:hover > ul{
    display: block;
}